body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to left, #7bd5c3, #47ffda);
}

header{
    background: #1abc9c;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-img{
    width: 50px;
    height: 50px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.div-start{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.div-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.img-galery{
    width: 30%;
    height: 260px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease
}
.img-galery:hover {
    transform: scale(1.2); /* Agranda la imagen al 120% de su tamaño original */
  }

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del "track" (fondo de la barra) */
::-webkit-scrollbar-track {
    background: #1abc9c; /* Color de fondo del track */
}

/* Estilo del "thumb" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px;
}

/* Estilo del thumb cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
}

.div-autor{ 
    align-self: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background: #1abc9c;
    width: 250px;
    height: 200px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 60px;
    background-color: #1abc9c;   
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h3-footer{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


