body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to left, #7bd5c3, #47ffda);
}

header{
    background: #1abc9c;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-img{
    width: 80px;
    height: 80px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.div-start{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.div-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.img-galery{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-top: 50px;
}

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del "track" (fondo de la barra) */
::-webkit-scrollbar-track {
    background: #1abc9c; /* Color de fondo del track */
}

/* Estilo del "thumb" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px;
}

/* Estilo del thumb cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
}



footer{
    margin-top: 60px;
    background-color: #1abc9c;   
    width: 100%;
    height: 80px;
}
